{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatgram</title>
    <link rel="shortcut icon" href="media/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cropperjs/css/cropper.min.css' %}">
    <link rel="stylesheet" href="{% static 'FontAwesome.Pro.6.5.0/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    {% block css %}{% endblock %}
</head>

<body>

    <div class="modal fade" id="LoginDialog" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content" style="max-width: 350px;">

                <div class="modal-header">
                    <h3 class="text-center w-100">Login</h3>
                </div> 

                <div class="modal-body custom-scroll">
                    <form id="login-form">

                        <div class="mb-4">
                            <label for="username-login" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username-login" name="username" required="">
                            <div class="invalid-feedback"></div>
                        </div>

                        <!-- <div class="mb-4">
                            <label for="password-login" class="form-label">Password <a href="#" class="text-decoration-none fs-6">login with face id</a></label>
                            <input type="password" class="form-control" id="password-login" name="password" required="">
                            <div class="invalid-feedback">The two password fields didn’t match.</div>
                            
                        </div>

                        <div class="mb-4 d-none">
                            <video class="video" autoplay></video>
                        </div> -->

                        
                        <ul class="nav nav-tabs" id="LoginTypeTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="password-tab" data-bs-toggle="tab" data-bs-target="#password" type="button" role="tab" aria-controls="home" aria-selected="true">password</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="faceId-tab" data-bs-toggle="tab" data-bs-target="#faceId" type="button" role="tab" aria-controls="profile" aria-selected="false">face id</button>
                            </li>
                        </ul>
                        <div class="tab-content mb-3" id="LoginTypeTabContent">

                            <div class="tab-pane fade show active pt-3" login-type="password" id="password" role="tabpanel" aria-labelledby="home-tab">
                                <input type="password" class="form-control" id="password-login" name="password" required="">
                                <div class="invalid-feedback">The two password fields didn’t match.</div>
                            </div>

                            <div class="tab-pane fade pt-3" login-type="face" id="faceId" role="tabpanel" aria-labelledby="profile-tab">
                                <video class="video" autoplay></video>
                            </div>
                        </div>
                          




                        <div class="form-error text-center mb-4"style="font-size: .875em;color:var(--bs-form-invalid-color)"></div>
                        <input type="submit" id="login-form-submit" class="d-none">
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-outline-dark w-100" onclick="$('#login-form-submit').click()">login</button>
                    <p class="text-center mb-1 mt-1 w-100">you don't have an account? <a class="text-decoration-none" href="" data-bs-toggle="modal" data-bs-target="#registerDialog">register now</a></p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="registerDialog" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="text-center w-100">Register</h3>
                </div>  

                <div class="modal-body custom-scroll">
                    <form id="register-form">

                        <div class="fields"></div>

                        <div class="form-error text-center mb-4"style="font-size: .875em;color:var(--bs-form-invalid-color)"></div>

                        <input type="submit" id="register-form-submit" class="d-none">

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark w-100" onclick="$('#register-form-submit').click()">register</button>
                    <p class="text-center mb-1 mt-1 w-100">you have an account? <a class="text-decoration-none" href="" data-bs-toggle="modal" data-bs-target="#LoginDialog">login now</a></p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade popap-settings" id="popap-settings" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 400px;">
                <div class="modal-body px-0 custom-scroll">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        style="position: absolute;inset: 10px 10px auto auto"></button>

                    <div class="image-box">
                        <input type="file" name="profile_image" class='d-none' accept="image/*">

                        <div class="image-buttons d-none">
                            <a class="btn btn-outline-dark btn-sm change-btn">Change</a>
                            <a class="btn btn-dark btn-sm discard-btn">Discard</a>
                        </div>
                        <div class="default-image">
                            <div class="cover cover-top profile-image-delete-shortcut">
                                <i class="fa-light fa-trash fa-xl"></i>
                            </div>
                            <div class="cover profile-image-btn-shortcut">
                                <i class="fa-light fa-camera fa-xl"></i>
                            </div>
                        </div>
                        <div class="selected-image d-none">
                            <img src="" alt="">
                        </div>
                    </div>

                    <hr class="mx-2">

                    <div class="info-box">
                        <div class="info name" onclick="open_detial_settings('name')">
                            <div class="key">
                                <i class="fa-light fa-circle-user fa-lg"></i>
                                Name:
                            </div>
                            <div class="value custom-scroll">saleh ghanbari</div>
                        </div>

                        <div class="info phone" onclick="open_detial_settings('phone_number')">
                            <div class="key">
                                <i class="fa-light fa-phone fa-lg"></i>
                                Phone number:
                            </div>
                            <div class="value custom-scroll">09140428923</div>
                        </div>

                        <div class="info username" onclick="open_detial_settings('username')">
                            <div class="key">
                                <i class="fa-light fa-at fa-lg"></i>
                                Username:
                            </div>
                            <div class="value custom-scroll">@saleh</div>
                        </div>

                        <div class="info email" onclick="open_detial_settings('email')">
                            <div class="key">
                                <i class="fa-light fa-envelope fa-lg"></i>
                                Email:
                            </div>
                            <div class="value custom-scroll">saleh@gmail.com</div>
                        </div>

                        <div class="info bio" onclick="open_detial_settings('biography')">
                            <div class="key">
                                <i class="fa-light fa-book-user fa-lg"></i>
                                Biography:
                            </div>
                            <div class="value custom-scroll">Judging is only god's work</div>
                        </div>
                    </div>

                    <hr class="mx-2">

                    <div class="settings-box">
                        <div class="mb-3 form-check form-switch">
                            <input class="form-check-input user_settings_check" type="checkbox" role="switch"
                                id="show_email">
                            <label class="form-check-label" for="show_email">Show Email</label>
                        </div>

                        <div class="mb-3 form-check form-switch">
                            <input class="form-check-input user_settings_check" type="checkbox" role="switch"
                                id="show_phone">
                            <label class="form-check-label" for="show_phone">Show phone number</label>
                        </div>

                        <div class="mb-3 form-check form-switch">
                            <input class="form-check-input user_settings_check" type="checkbox" role="switch"
                                id="show_image">
                            <label class="form-check-label" for="show_image">Show profile image</label>
                        </div>

                        <div class="mb-0 form-check form-switch">
                            <input class="form-check-input user_settings_check" type="checkbox" role="switch"
                                id="show_biography">
                            <label class="form-check-label" for="show_biography">Show biography</label>
                        </div>
                    </div>

                    <hr class="mx-2">

                    <div class="options-box">
                        <a class="btn btn-outline-dark" onclick="$('#popap-faceid-set').modal('show')">Set face id</a>
                        <a class="btn btn-outline-dark" onclick="$('#popap-password-change').modal('show')">Change password</a>
                        <a class="btn btn-outline-dark" id="logout_all_btn">Logout all</a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade popap-settings" id="popap-detial-settings" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 300px;">
                <div class="modal-body px-3 custom-scroll">

                    <input type="hidden" name="detial_setting">

                    <div class="section name d-none">
                        <div class="mb-3">
                            <label for="edit-first-name" class="form-label">First name</label>
                            <input type="text" class="form-control first_name" id="edit-first-name">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="mb-3">
                            <label for="edit-last-name" class="form-label">last name</label>
                            <input type="text" class="form-control last_name" id="edit-last-name">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="section phone_number d-none">
                        <div class="mb-3">
                            <label for="edit-phone" class="form-label">Phone number</label>
                            <input type="text" class="form-control phone_number" id="edit-phone"
                                placeholder="09xxxxxxxxx">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="section username d-none">
                        <div class="mb-3">
                            <label for="edit-username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control username is-invalid" id="edit-username">
                                <div class="invalid-feedback">fdg</div>
                            </div>
                        </div>
                    </div>

                    <div class="section email d-none">
                        <div class="mb-3">
                            <label for="edit-email" class="form-label">Email</label>
                            <input type="text" class="form-control email" id="edit-email" placeholder="example@domain.com">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="section biography d-none">
                        <div class="mb-3">
                            <label for="edit-biography" class="form-label">Biography</label>
                            <input type="text" class="form-control biography" id="edit-email">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="form-error text-center mb-4" style="font-size: .875em;color:var(--bs-form-invalid-color)"></div>

                    <div class="btns d-flex gap-3">
                        <button class="btn btn-outline-dark flex-fill save">Save</button>
                        <button class="btn btn-dark flex-fill" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    
    <div class="modal fade popap-settings" id="popap-faceid-set" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 300px;">
                <div class="modal-body px-3 custom-scroll">

                    <div class="faceId-box mb-4">
                        <div class="defualt-face-box"></div>
                        <div class="capture-box d-none"></div>
                        <video class="video d-none" autoplay></video>
                        <div class="buttons defualt">
                            <a class="capture-face"><i class="fa-solid fa-camera"></i></a>
                            <a class="reset-face"><i class="fa-solid fa-repeat"></i></a>
                            <a class="delete-face"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        <div class="buttons capture d-none">
                            <a class="confirm-capture"><i class="fa-solid fa-check"></i></a>
                            <a class="cancel-capture"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div> 

                    <div class="form-error text-center mb-4" style="font-size: .875em;color:var(--bs-form-invalid-color)"></div>

                    <div class="btns d-flex gap-3">
                        <button class="btn btn-outline-dark flex-fill change">Set</button>
                        <button class="btn btn-dark flex-fill" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade popap-settings" id="popap-password-change" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 300px;">
                <div class="modal-body px-3 custom-scroll">

                    <div class="mb-3">
                        <label for="old_password" class="form-label">Old password</label>
                        <input type="password" class="form-control old_password" id="old_password">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="mb-3">
                        <label for="new_password" class="form-label">New password</label>
                        <input type="password" class="form-control new_password" id="new_password">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="mb-3">
                        <label for="confirm_new_password" class="form-label">Confirm new password</label>
                        <input type="password" class="form-control confirm_new_password" id="confirm_new_password">
                        <div class="invalid-feedback">new passwords does not match!</div>
                    </div>

                    <div class="form-error text-center mb-4" style="font-size: .875em;color:var(--bs-form-invalid-color)"></div>

                    <div class="btns d-flex gap-3">
                        <button class="btn btn-outline-dark flex-fill change">Change</button>
                        <button class="btn btn-dark flex-fill" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="popap-friends" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 450px;">

                <div class="modal-header pb-2">
                    <h1 class="fs-4 text-center w-100">Friends</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> 

                <div class="modal-body px-0 py-2 custom-scroll">
                    <div class="no-firends text-center py-2" style="display: none;">
                            you don't have any friends.</br>
                            search users to make friends! 
                    </div>
                    <div class="friends-list">
                        

                    </div>
                    <div class="api_loading justify-content-center mt-3" style="display: none;">
                        <div class="spinner-border text-dark" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade popap-profile popap-group-detial" id="popap-group-detial" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="max-width: 320px;">

                <div class="modal-body p-0 custom-scroll">

                    <div class="image">
                        <div class="button" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-light fa-arrow-left fa-lg"></i>
                        </div>
                        <div class="name"></div>
                        <div class="buttons">
                            <button type="button" class="btn p-0 btn-info">
                                <i class="fa-light fa-message-lines fa-lg"></i>
                            </button>
                        </div>
                        <div class="btn-group group-options">
                            <a type="button" class="p-2 px-3 text-light text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="option">
                                    <a class="dropdown-item edit-group-detial" href="#">
                                        <i class="fa-light fa-pen-to-square"></i>
                                        Edit group detail
                                    </a>
                                </li>
                                <li class="option">
                                    <a class="dropdown-item text-danger delete-group-detial" href="#">
                                        <i class="fa-light fa-trash"></i>
                                        Delete group
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="users">
                        
                        <div class="key">
                            <i class="fa-regular fa-users"></i>
                            users
                        </div>
                        <div class="value"></div>
                        
                    </div> 

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade popap-settings" id="popap-group-detial-settings" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body px-3 custom-scroll">
                    
                    <input type="hidden" name="group_id">

                    <div class="image-box">
                        <input type="file" name="image-input" class='d-none' accept="image/*">

                        <div class="image-buttons d-none">
                            <a class="btn btn-outline-dark btn-sm change-btn">Change</a>
                            <a class="btn btn-dark btn-sm discard-btn">Discard</a>
                        </div>
                        <div class="default-image">
                            <div class="cover cover-top group-image-delete-shortcut">
                                <i class="fa-light fa-trash fa-xl"></i>
                            </div>
                            <div class="cover group-image-edit-shortcut">
                                <i class="fa-light fa-camera fa-xl"></i>
                            </div>
                        </div>
                        <div class="selected-image d-none">
                            <img src="" alt="">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="edit-group-name" class="form-label">group name</label>
                        <input type="text" class="form-control group_name" id="edit-group-name">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="mb-3">

                        <div class="form-error text-center mb-4" style="font-size: .875em;color:var(--bs-form-invalid-color)"></div>

                        <div class="btns d-flex gap-3">
                            <button class="btn btn-outline-dark flex-fill save">Save</button>
                            <button class="btn btn-dark flex-fill" data-bs-dismiss="modal">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade popap-profile" id="popap-profile" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="max-width: 320px;">

                <div class="modal-body p-0 custom-scroll">

                    <div class="image">
                        <div class="button" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-light fa-arrow-left fa-lg"></i>
                        </div>
                        <div class="name"></div>
                        <div class="buttons">
                            <button type="button" class="btn p-0 btn-info">
                                <i class="fa-light fa-message-lines fa-lg"></i>
                            </button>
                            <button type="button" class="btn p-0 btn-info">
                                <i class="fa-light fa-user-plus fa-lg"></i>
                            </button>
                            <button type="button" class="btn p-0 btn-info">
                                <i class="fa-light fa-user-minus fa-lg"></i>
                            </button>
                        </div>
                    </div>

                    <div class="info"></div>                    

                </div>
            </div>
        </div>
    </div>


    




    <div class="menu">
        <div class="profile-box">
            <div class="image"></div>
            <div class="content">
                <div class="name"></div>
                <div class="id"></div>
            </div>
            <div class="buttons">
                <div class="close-menu-btn"><i class="fa-regular fa-x" onclick="$('.menu').removeClass('open')"></i></div>
                <div class="user-settings-btn"><i class="fa-regular fa-gear"></i></div>
                <div class="self-messages-btn"><i class="fa-regular fa-bookmark"></i></div>
                
            </div>
        </div>
        <hr class="mx-2">
        <div class="item">
            <i class="fa-regular fa-layer-plus fa-xl"></i>
            <div class="text">Add group</div>
        </div>
        <div class="item" data-bs-toggle="modal" data-bs-target="#popap-friends">
            <i class="fa-regular fa-user-group fa-xl"></i>
            <div class="text">Friends</div>
        </div>
        <div class="item" style="margin-top: auto;margin-bottom: 10px;">
            <i class="fa-regular fa-right-from-bracket fa-xl"></i>
            <div class="text" onclick="logout()">Logout</div>
        </div>
    </div>

    <div class="menu-wrapper"></div>

    <div class="menu-list">
        <div class="category bg-dark">
            <div class="item mb-4 py-4 menu-buttom">
                <div class="icon">
                    <i class="fa-regular fa-bars fa-xl"></i>
                </div>

            </div>
            <div class="item active" category="chats">
                <div class="icon">
                    <i class="fa-light fa-user-group fa-xl"></i>
                </div>
                <div class="text">
                    private
                </div>
            </div>
            <div class="item" category="groups">
                <div class="icon">
                    <i class="fa-light fa-layer-group fa-xl"></i>
                </div>
                <div class="text">
                    groups
                </div>
            </div>
        </div>
        <div class="list bg-light">
            <div class="header p-3">
                <div class="result-box-wrapper"></div>
                <input type="text" class="form-control rounded-5 serach-field" name="serach-box" placeholder="Search">
                <div class="result-box shadow bg-light m-3 rounded-3 custom-scroll hide" style="display: none;">

                    <div class="result">
                        <div class="image">F</div>
                        <div class="content">
                            <div class="name">saleh ghanbari</div>
                            <div class="username">@saleh</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="list-item custom-scroll" category="chats" style="display: block;"></div>
            <div class="list-item custom-scroll" category="groups"></div>

        </div>

    </div>

    <div class="chat-box">
        <div class="header">
            <div class="back btn" onclick="close_chat()">
                <i class="fa-light fa-arrow-left fa-lg"></i>
            </div>
            <div class="image"></div>
            <div class="content">
                <div class="name"></div>
                <div class="username"></div>
            </div>
            <div class="buttons">

                <div class="btn-group">
                    <button type="button" class="btn rounded-5 border-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="option show-profile">
                            <a class="dropdown-item" href="#">
                                <i class="fa-light fa-user-circle"></i>
                                Show profile
                            </a>
                        </li>
                        <li class="option add-friend">
                            <a class="dropdown-item" href="#">
                                <i class="fa-light fa-user-plus"></i>
                                Add to friends
                            </a>
                        </li>
                        <li class="option remove-friend">
                            <a class="dropdown-item" href="#">
                                <i class="fa-light fa-user-minus"></i>
                                Remove friend
                            </a>
                        </li>

                        <li class="option group-info">
                            <a class="dropdown-item" href="#">
                                <i class="fa-regular fa-circle-info"></i>
                                Group info
                            </a>
                        </li>
                        <li class="option left-group">
                            <a class="dropdown-item" href="#">
                                <i class="fa-regular fa-right-from-bracket fa-rotate-180"></i>
                                Left the group
                            </a>
                        </li>


                        <li class="option separator"><hr class="dropdown-divider"></li>
                        <li class="option delete-chat">
                            <a class="dropdown-item text-danger" href="#">
                                <i class="fa-regular fa-trash"></i>
                                Delete Chat
                            </a>
                        </li>

                        <li class="option delete-group">
                            <a class="dropdown-item text-danger" href="#">
                                <i class="fa-regular fa-trash"></i>
                                Delete Group
                            </a>
                        </li>



                    </ul>
                </div>    

            </div>

        </div>
        <div class="messages"></div>

        <div class="input">
            <input type="hidden" name="user_id">
            <textarea name="" id="chat-input" cols="30" rows="1" class="w-100 form-control" placeholder="Write a message..."></textarea>
            <div class="buttons">
                <button type="button" class="btn send-btn">
                    <i class="fa-solid fa-paper-plane-top fa-lg"></i>
                </button>
            </div>
            <div class="buttons left_buttons">
                <input type="file" name="" id="chat-image" accept="image/png, image/jpeg" class="d-none">
                <button type="button" class="btn image-btn" onclick="$('#chat-image').click()">
                    <i class="fa-solid fa-link fa-lg"></i>
                    <span class="image-count d-none">1</span>
                    <!-- <div class="image-delete d-nones">
                        <i class="fa-solid fa-trash fa-sm"></i>
                    </div> -->
                </button>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>

    {% include 'partials/message-box.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.lazy.min.js' %}"></script>
    <script src="{% static 'cropperjs/js/cropper.min.js' %}"></script>
    <script src="{% static 'js/message-box.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>